@import 'vars';

// .contact-wrap {
//   padding: 6em 1em 1em;
//   display: flex;
//   justify-content: space-between;
//   .address {
//     width: 345px;
//     order: 1;
//   }
//   .contact-img {
//     width: 50%;
//     order: 2;
//     img {
//       width: 100%;
//       height: auto;
//     }
//   }
// }
.page-wrap .desc  {
    dl {
      display: grid;
      grid-template-columns: 7em 1fr;
      margin: 0 0 1.1em;
    }
    a {
      border:none;
    }
}  
@media only screen and (max-width: $mobBreakPoint) { 
  .contact-wrap {
    display: block;
    padding: 6em 20px 1em;
    .contact-img {
      width: 100%;
      margin: 0 0 1em;
    }
  }
  // .contact-page,
  // .careers {
  //   .title {
  //     display: none;
  //   }
  // }  
}
