@import 'vars';

.site-header {
  //text-align: center;
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: $mar;
  display: flex;
  background: #fff;

  transition: transform 0.4s;
  &.scrolled-down {
    transform: translate3d(0, -100%, 0);
  } 
  //justify-content: center;
  // display: flex;
  // justify-content: center;
  //background: #fff;
  //padding: 1rem 2rem 0.1rem;
  // .btn-wrap {
  //     position: absolute;
  //     text-align: center;
  //     padding:1em;
  //     top:0;
  //     left:0;
  //     width:100%;
  //     background: inherit;
  //     display: block;
  // }
  //padding: 36px 36px 0;
  // .main-nav-wrap:hover {
  //     .toggle-menu {
  //         display: none;
  //     }
  //     .main-nav {
  //         display: block;
  //     }
  // }
  .site-title {
    font-family: "00 Business Flack v1 Regular";
    text-transform: uppercase;
    margin: 0 auto;
    // left:50%;
    // top:1rem;
    // transform: translateX(-50%);
    // position: fixed;

  }
  // .main-nav-wrap {
  //   position: fixed;
  // }
  .main-nav {
    // visibility: hidden;
    // opacity: 0;
    //transition: opacity 0.3s, visibility 0s 0.3s;
    width: 50%;
    top:0;
    left:0;
    height: 100%;
    padding:$paddingTop $mar $mar;
    position: fixed;
    background: var(--rand-color);
    color: inherit;
    top: 0;
    left: 0;
    z-index: 1;
    //padding:1em;
    //position: absolute;
    //width:100%;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform .4s;
    //background: inherit;
    //font-family: "Unica77LLWebRegular";
    .menu-section {
      margin: 0 0 1em;
    }
    h3 {
      display: inline-block;
      &:after {
        content: " —";
      }
    }
    ul {
      display: block;
      li {
        display: block;
        // &:after {
        //   content: ", ";
        // }
        // &:last-child:after {
        //   display: none;
        // }
      }
    }
    .ig-sub {
      display: none;
    }
  }
  .page-title {
    position: absolute;
    right: $mar;
    top: $mar;

  }
}
.toggle-menu {
  position: absolute;
  top: $mar;
  left: $mar;
  z-index: 2;
  span {
    cursor: pointer;
    &:after {
      content: "Menu";
    }
  }
}
//   //text-transform: uppercase;
//   // visibility: visible;
//   // opacity:1;
//   //transition: opacity 0.3s, visibility 0s;
//   //display: block;
//   br {
//     display: none;
//   }
// }

//html.is-animating:not(.page-child),
.single-projects {
  .toggle-menu-wrap,
  .main-nav {
    display: none;
  }
}
.main-content {
  z-index: 1;
  position: relative;
}
body {
  background-color: #fff;
  //transition:all 0.3s;
  color: #000;
}

.subpages {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  left: 0;
  background: #fff;
  //height: 2em;
  ul {
    li {
      display: inline-block;
      &:after {
        content: ", ";
      }
      &:last-child:after {
        display: none;
      }
      // a {
      //   border-bottom: 1px solid transparent;
      //   display: inline-block;
      //   // line-height: 1.1;
      //   // text-shadow: 1px 1px #fff, 1px -1px #fff, -1px 1px #fff, -1px -1px #fff,
      //   //   -1px 0px #fff, 0px 1px #fff, 0px 2px #fff, 1px 0px #fff, -2px 0px #fff,
      //   //   2px 0px #fff, -3px 0px #fff, 3px 0px #fff;
      //   // transition: border-color 0.3s;
      // }
      // &.current_page_item a,
      // a:hover {
      //   border-bottom: 1px solid;
      // }
    }
  }
}
.close-menu {
  display: none;
}
.menu-open {
  .close-menu {
    display: block;
    position: fixed;
    width:100%;
    height: 100%;
    cursor: pointer;
    top:0;
    left:0;
  }
}
// .acknowledgement-open {
//   .site-header h1 {
//     color: #fff;
//   }
// }
.menu-open {
  // background-color: #000;
  // color: #fff;
  // .site-header {
  //   background: #000;
  //   z-index: 3;
  // }
  // // .main-nav-wrap {
  // //   background: #000;
  // // }
  // .site-header .btn-wrap {
  //   background-color: #000;
  //   display: none;
  // }
  // .toggle-menu {
  //   display: none;
  // }
  // .button-wrap {
  //     // visibility: hidden;
  //     // opacity: 0;
  //     //transition: opacity 0.3s, visibility 0s 0.3s;
  //     display: none;
  // }
  overflow: hidden;
  .toggle-menu {
    span {
      &:after {
        content: "Close";
      }
    }
  }
  .main-nav {
    // visibility: visible;
    // opacity:1;
    //transition: opacity 0.3s, visibility 0s;
    transform: translateX(0);

  }
}
.hide-desktop {
  display: none;
}

@media only screen and (max-width: 750px) { 
  .site-header {
    padding: $marmob;
    display: block;
    text-align: center;
    .main-nav {
      width: 100%;
      padding:60px $marmob $marmob;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .menu-section {
        font-size: 24px;
        line-height: 1.2;
        ul li:after {
          display: none;
        } 
      }  
      .ig-sub {
        display: block;
        text-align: center;
        li {
          display: inline-block;
          &:after {
            content: ', ';
          }
          &:last-child:after {
            display: none;
          }
        }
      } 
    } 
    .page-title {
      position: relative;
      top: auto; 
      right: auto;
    }
  } 
  .main-nav-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .menu-section {
    margin: 0 0 1em;
  }
  // .menu-open {
  //   .close-menu {
  //     display: block;
  //   }
  //   .subpages {
  //     display: none;
  //   }
  // }
  .hide-desktop {
    display: block;
  }

  // .ig-sub{
  //   position: absolute;
  //   bottom:0;
  //   width:100%;
  //   text-align: center;
  //   display: none;
  //   button {
  //     color:#fff;
  //   }
  // }
  .toggle-menu {
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    overflow: visible; 
    width: 21px;
    height: 21px;
    position: absolute;
    left: $marmob;
    top: $marmob;
    span {
        display: block;
        top: 10px; 
        left:0;
        transition-duration: 0.075s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
    }
    span,
    span:after,
    span:before {
        width: 21px;
        height: 1px;
        background-color: #000;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;        
    }
    span:before,
    span:after {
        content: "";
        display: block; 
    }
    span:before {
        top:-5px;
        transition: top 0.075s 0.12s ease, opacity 0.075s ease; 
    }
    span:after {
        bottom:-5px;
        transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
    }   
  }
  .menu-open {
    .toggle-menu {
      span {
        transform: rotate(45deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
        &:before {
          top: 0;
          opacity: 0;
          transition: top 0.075s ease, opacity 0.075s 0.12s ease; 
        }
        &:after {
          content: "";
          bottom: 0;
          transform: rotate(-90deg);
          transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); 
        }
      }
    }
  }  
}  
