sub-form {
    position: relative;
    width: 100%;
    display: block;
    
    form {
        display: none;
        margin: 0;
        bottom: 0;
        //max-width: 30rem;
        // @media only screen and (max-width: $mobBreakPoint) { 
            
        // }  
        .form-wrap {
            width: 100%;
            margin: auto 0;
            display: flex;
            border-bottom: 1px solid;
        }  
        // a.close {
        //     width: 1.03em;
        //     height: 1.03em;
        //     position: absolute;
        //     right: .5em;
        //     top: .5em;
        //     &:before,
        //     &:after {
        //         content: "";
        //         position: absolute;
        //         width: .06em;
        //         height: 100%;
        //         top:0;
        //         left:calc(50% - 0.03em);
        //         background: #000;
        //     }
        //     &:before {
        //         transform: rotate(45deg);
        //     }
        //     &:after {
        //         transform: rotate(-45deg);
        //     }
        // }
    }
    input {
        font:inherit;
    }
    input {
        padding: 0;
        margin: 0;
        width:100%;
        display: block;
        background: transparent;
        -webkit-appearance: none;
        color:#000;
        border:none;
        flex:1;
        cursor: text !important;
        &::-webkit-input-placeholder { /* Edge */
            color:inherit;
            opacity: 1;
        }
          
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color:inherit;
            opacity: 1;
        }
          
        &::placeholder {
            color:inherit;
            opacity: 1;
        }
        &:focus {
            &::-webkit-input-placeholder { /* Edge */
                opacity: 0;
            }
              
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                opacity: 0;
            }
              
            &::placeholder {
                opacity: 0;
            }   
        }
    }
    // .submit-wrap {
    //     text-align: center;
    // }
    button[type="submit"] {
        // padding:0.2em 0 0;
        // text-decoration: underline;
        // text-decoration-color: #000;
        // text-decoration-thickness: 0.06em;
        // text-underline-offset: 0.12em;
        // transition: text-decoration-color .2s;
        -webkit-appearance: none;
    }
    &.subscribe-open {
        ul {
            display: none;
        }
        form {
            display: block;
        }
        &.submitted {
            #js-subscribe-response {
                display:block;
            }
            .form-wrap {
                display: none;
            }
        }
    }
}
#js-subscribe-response {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--rand-color) inset !important;
}

// .menu-open {
//     sub-form {
//         input {
//             color:#000;
//             background: #fff;
//         }
//     }
// }