#subscribe {
    padding:1em 0 3em;
    position: absolute;
    display: none;
    width:100%;
    input {
        font:inherit;
    }
    input {
        padding: 0.2em;
        margin: 0;
        width:100%;
        display: block;
        background: #000;
        color:#fff;
        border:none;
        cursor: text !important;
        &::-webkit-input-placeholder { /* Edge */
            color:inherit;
            opacity: 1;
        }
          
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color:inherit;
            opacity: 1;
        }
          
        &::placeholder {
            color:inherit;
            opacity: 1;
        }
        &:focus {
            &::-webkit-input-placeholder { /* Edge */
                opacity: 0;
            }
              
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                opacity: 0;
            }
              
            &::placeholder {
                opacity: 0;
            }   
        }
    }
    // .submit-wrap {
    //     text-align: center;
    // }
    button[type="submit"] {
        padding:0.2em 0 0;
        border-bottom: 1px solid;
    }
}
#js-subscribe-response {
    padding: 0.2em 0;
}
.subscribe-open {
    #subscribe {
        display: block;
    }
}

.menu-open {
    #subscribe {
        input {
            color:#000;
            background: #fff;
        }
        button {
            color:#fff;
        }
    }
}