@use "sass:math";
html {
  font-size: 24px;
}
body {
  font-family: "00 Business Flack v1 Regular";
  // font-size: 24px;
  // line-height: 30px;
  //font-size: 24/1920 * 100vw;
  font-size: 1rem;
  line-height: 1.25em;
  -webkit-text-size-adjust: none;
}
.lrg-text {
  font-family: "Unica77LLWebRegular";
  // font-size: 48px;
  // line-height: 50px;
  font-size: math.div(48,1920) * 100vw;
  //font-size: 2em;
  line-height: 1.042em;
}
.med-text {
  font-family: "Unica77LLWebRegular";
  font-size: math.div(36,1920) * 100vw;  
  line-height: 1.1;
} 
.sml-sans {
  font-family: "Unica77LLWebRegular";
}
.allcaps {
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.mono {
  font-family: "Flack v3 Mono";
}
.site-header .main-nav ul li {
  a {
    transition: color .2s;
    @media (hover: hover) and (pointer: fine) { 
      &:hover {
        color: #fff;
      } 
    }
  }  
  &.current_page_item,
  &.current-menu-item,
  &.current-page-ancestor {
    a {
      color: #fff;
    } 
  }
}
.subpages ul li {
  a {
    text-decoration: underline;
    text-underline-offset: .12em;
    text-decoration-thickness: .06em; 
    text-decoration-color: transparent; 
    transition: text-decoration-color .2s;
    @media (hover: hover) and (pointer: fine) { 
      &:hover {
        text-decoration-color: #000; 
      } 
    }
  }
  &.current_page_item,
  &.current-page-ancestor {
    a {
      text-decoration-color: #000;
    } 
  }
}  
.footer-buttons .close-gallery,
.footer-buttons .open-gallery,
.footer-buttons.pagination .page-numbers, 
.footer-buttons button.show-artist-maker-images,
.footer-buttons button.hide-artist-maker-images {
  text-decoration: underline;
  text-underline-offset: .12em;
  text-decoration-thickness: .06em; 
  text-decoration-color: transparent; 
  transition: text-decoration-color .2s;
}
.footer-buttons .open-gallery,
.slider-open .footer-buttons .close-gallery,
.slider-open .footer-buttons button.hide-artist-maker-images,
.footer-buttons button.show-artist-maker-images {
  text-decoration-color: transparent;
}
.footer-buttons .close-gallery,
.slider-open .footer-buttons .open-gallery,
.slider-open .footer-buttons button.show-artist-maker-images,
.footer-buttons button.hide-artist-maker-images,
.footer-buttons.pagination .page-numbers.current {
  text-decoration-color: #000;
}     
.slider-open {
  .footer-buttons {
    &.close-images {
      display: block;
    }
  } 
  .overlay-slider { 
      display: block;
  }      
} 
@media only screen and (max-width: 1700px){
  html {
    font-size: 20px;
  }
  // body {
  //   font-size: 20px;
  // }
  .lrg-text {
    font-size: math.div(36,1600) * 100vw;  
  }  
}
@media only screen and (max-width: 1100px){
  html {
    font-size: 16px;
  }
}
@media only screen and (max-width: 750px){
  html {
    font-size: 16px;
  }
  body,
  .lrg-text {
    font-size: 1rem;
    line-height: 1.1;
    p {
      margin: 0 0 1.1em;
    }
  }
  .med-text {
    font-size: 16px;
    line-height: 1.2;
  } 
}
@media only screen and (max-width: 360px){
  body {
    line-height: 19px;
  }
}
