
@font-face {
    font-family:"Lausanne 300";
    src:url("Lausanne-300.woff2") format("woff2"),url("Lausanne-300.woff") format("woff"),url("Lausanne-300.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        